/*
CSS
*/

body {
  margin: 0;
  padding: 0;
  font: .625em Helvetica,Arial,sans-serif;
  background: #519548 url('/images/bg-body.png');
  color: #fff;
}

#wrap {
  margin: 0 auto;
  padding: 20px 0 0 0;
  width: 960px;
  font-size: 1.2em;
}

/*
General
*/

p {
	margin: 1.4em 0;
	padding: 0;
	line-height: 1.4em;
}

img {
	border: 0;
}

hr {
	display: none;
}

a,
a:link,
a:active,
a:visited {
	color: #033649;
	text-decoration: none;
	border-bottom: 1px dotted #033649;
}

a:hover {
	border-bottom: 1px solid #033649;
}

/*
Headers
*/

h1,
h2,
h3,
h4 {
	font-family: 'Reenie Beanie', arial, serif;
	line-height: 1.286;
	margin: .4em 0;
	padding: 0;
}

h1 {
	display: none;
}

h2 {
	margin: .643em 0;
	font-weight: bold;
	font-size: 4em; 
	color: #1B676B;
	font-weight: normal;
	clear: both;
}

h3 {
	margin: .643em 0;
	font-weight: normal;
	font-size: 1.6em;
	color: #036564;
}

h4 {
	margin: .643em 0;
	font-weight: normal;
	font-size: 1.4em; 
	color: #036564;
}

/*
Header
*/

#header #logo a {
  display: block;
  width: 268px;
  height: 73px;
  border: none;
}

/*
Content
*/

#content {
  padding: 0 20px;
  font-size: 1.2em;
	background-color: #fff;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

/*
Footer
*/

#footer {
  clear: both;
  font-size: .9em;
  padding: 0 20px;
}