/*
CSS
*/

body {
  margin: 0;
  padding: 0;
  font: .625em Helvetica,Arial,sans-serif;
  background: #ECE5CE url("/images/bg-body.png?1234");
  color: #363636;
}

#wrap {
  margin: 0 auto;
  padding: 0;
  width: 960px;
  font-size: 1.2em;
}

#message {
	position: absolute;
	top: 0;
	left: 40%;
	margin: 0;
	padding: 8px 20px 8px 40px;
	font-size: 1.8em;
	text-shadow: 0 1px 0 #fff;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

#message.success {
	background: #fff url("/images/tick.png") no-repeat 14px 6px;
	color: #1B676B;
}

#message.fail {
	background: #fff url("/images/error.png") no-repeat 14px 6px;
	color: #E08E79;
}

/*
General
*/

p {
	margin: 1em 0;
	padding: 0;
	line-height: 1em;
}

img {
	border: 0;
}

hr {
	display: none;
}

a,
a:link,
a:active,
a:visited {
	color: #774F38;
	text-decoration: none;
	border-bottom: 1px dotted #F1D4AF;
}

a:hover {
	border-bottom: 1px solid #F1D4AF;
}

/*
Headers
*/

h1,
h2,
h3,
h4 {
	font-family: 'Vollkorn', arial, serif;
	line-height: 1.286;
	margin: .4em 0;
	padding: 0;
	text-shadow: 0 1px 0 #fff;
}

h1 {
	display: none;
}

h2 {
	margin: .643em 0;
	font-weight: bold;
	font-size: 2.2em;
	color: #774F38;
	font-weight: normal;
	clear: both;
}

h3 {
	margin: .643em 0;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1.6em;
	color: #E08E79;
}

#sidebar h3 {
	color: #fff;
	text-shadow: none;
}

h4 {
	margin: .643em 0;
	font-weight: normal;
	font-size: 1.4em; 
	color: #036564;
}

/*
Header
*/

#header {
	padding: 0 20px;
}

#header #logo a {
	display: block;
	height: 86px;
	padding: 0 0 0 330px;
	line-height: 3.4em;
	background: transparent url("/images/photoquest-logo.png?1") no-repeat 0 0;
	border: none;
}

#header #challenge {
	width: 680px;
	clear: both;
}

#header #challenge #options li {
	width: 300px;
	float: left;
	text-align: center;
}

#header #challenge #options li a {
	font-size: 1.4em;
}

#header #challenge #options li a#play {
	font-family: "Times New Roman", Times, Georgia, Serif;
	font-size: 6em;
	line-height: 2em;
	border: none;
	margin: 0;
	display: block;
}

/*
Sidebar
*/

#sidebar {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
	background-color: #000;
	width: 200px;
	padding: 0 20px 20px;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	color: #fff;
}

#sidebar #score {
	font-size: 2.6em;
	font-weight: bold;
	text-align: center;
}

#sidebar #send-quest {
	font-size: 1.2em;
	line-height: 1.4em;
	font-weight: bold;
}

#sidebar #send-quest a {
	color: #fff;
	text-shadow: none;
}

/*
Content
*/

#content {
  padding: 10px 20px 0 20px;
  font-size: 1.2em;
	text-align: center;
	clear: both;
}

#content #picture {
	margin: auto;
	padding: 30px 0;
	background: transparent url("/images/bg-picture.png?1234");
	-webkit-border-radius: .6em; 
	-moz-border-radius: .6em;
	border-radius: .6em;
}

#content #picture a {
	border: none;
}

#content #picture img {
	background-color: #fff;
	padding: 4px;
	border: 2px solid #ECE5CE;
	max-width: 800px;
}

#content #picture #author {
	position: relative;
	height: 26px;
	margin: -48px auto 0 auto;
	width: 240px;
	padding: 6px 12px;
	background: transparent url("/images/black-overlay.png?1234");
	font-size: 1.2em;
}

#content #picture #author span#by {
	font-style: italic;
	font-weight: normal;
	font-size: .7em;
	color: #fff;
}

#content #picture #author img {
	margin: 0 4px;
	padding: 1px;
	width: 24px;
	background-color: #fff;
	border: none;
	vertical-align: middle;
}

#content #picture #author a {
	color: #fff;
}

ul#possible_answers li {
	margin: 0 8px 8px 0;
	float: left;
}

.simple_form {
	width: 600px;
	margin: 0 auto;
	padding: 0;
	text-align: left;
}

.simple_form div {
	clear: left;
}

.simple_form label {
	width: 140px;
	margin: 0 10px 4px 0;
	padding: 12px 0 0 0;
	display: block;
	float: left;
	text-align: right;
}

.simple_form input.string {
	width: 400px;
	margin: 0 0 4px 0;
	padding: 4px;
	font-size: 1.4em;
	float: left;
	border: solid 1px #F1D4AF;
	outline: 0;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#EEEEEE');
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

.simple_form input.string:hover,
.simple_form input.string:focus {
	border-color: #C5E0DC;
}

.simple_form #quest_correct_answer {
	color: #1B676B;
}

.simple_form #quest_incorrect_answer1,
.simple_form #quest_incorrect_answer2,
.simple_form #quest_incorrect_answer3,
.simple_form #quest_incorrect_answer4 {
	color: #E08E79;
}

.button_to input[type="submit"],
.simple_form input[type="submit"] {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 1.4em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	border: none;
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}

.button_to input[type="submit"]:hover,
.simple_form input[type="submit"]:hover {
	text-decoration: none;
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}

.button_to input[type="submit"]:active,
.simple_form input[type="submit"]:active {
	position: relative;
	top: 1px;
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');	
}

.simple_form input[type="submit"] {
	float: right;
	margin: 10px 40px 0 0;
}

/*
Footer
*/

#footer {
  clear: both;
	text-align: center;
  font-size: .9em;
  padding: 0 20px;
	color: #774F38;
}
