- content_for :sidebar do
  #sidebar
    %h3 Score
    #score= link_to @score, rankings_path 
    
    %ul#last-move
      - @player.last_answers.each do |answer|
        = li_for(answer)
    
    %p#send-quest= link_to "Send a photo and earn 500 points!", "#new_quest"
