#picture
  = image_tag(@quest.image_url)

  %h2
    Where is this place?
  
  %ul#possible_answers
    - @quest.questions.each do |question|
      %li= button_to(question, :action => :move, :id => @quest.id, :answer => question)    

- if @move 
  %p#message= "Será que você acertou? #{@move.correct?}"
