#picture
  = link_to image_tag("http://farm4.static.flickr.com/3081/2558637383_96104ccea4.jpg"), @quest.page_where_image_is
  
#possible_answers
  %ul
    = @quest.questions.each do |question|
      %li= question
    
  

