!!!
%html{ :lang => "pt-br", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }/
    %title Photoquest
    %meta{ :name => "keywords", :content => "" }/
    %meta{ :name => "description", :content => "" }/
    = stylesheet_link_tag "application", :media => "all", :cache => "all"
    = javascript_include_tag "jquery.min.js", "rails.js", "application.js"
    = csrf_meta_tag
  %body
    #header
      %p
        %strong#logo_screen
          Logo entra aqui
    %hr#header_delimiter
    #main_content
      = yield
    %hr#footer_delimiter
    #footer
